.benefits {
    min-height: 473px;
    padding: 70px 0 83px 0;
    background: #F6F6F6;
    &__title {
        margin-top: 70px;
        font-weight: 700;
        font-size: 30px;
        color: #0D0D0D;
        text-align:center;
    }
    &__wraper {
        margin-top: 65px;
        display:flex;
        justify-content: space-between;
    }
    &__icons {
        max-width: 238px;
        display:flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 18px;
    }
    &__icon {
        display: block;
        margin: 0 auto;
        width: 70px;
        height: 70px;
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__subtitle{
        margin-top: 35px;
        color: #0D0D0D;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        text-align: center;
        a {
            color:$main-color;
        }
    }
    
}